input {
    border: 2px solid var(--white-gray);
    outline: none;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

body {
    background-color: var(--white);
}
